.header {
    width: 100%;
/*     height: 120px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 5vw;
    position: fixed;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0),
        rgb(0, 0, 0)
    );
    z-index: 1000;
}

.header * {
    color: var(--color-white);
}

.header__logo h1 {
    font-size: min(30px, 10vw);
}

.header__options {
    width: 100%;
    height: 100%;
    font-size: min(15px, 8vw);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
}

.header__options a {
    padding: .5vw;
    border-radius: 5px;
}

.header__options a:hover {
    color: var(--color-pink);
}

.header__options form {
    display: flex;
}

.header__options form input{
    background: var(--color-white);
    border: .5px solid var(--color-white);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: max(5rem, 20vw);
    padding: .5vw;
    color: var(--color-gray);
}

.header__options form input:focus {
    outline: none;
}

.header__options form button {
    background: var(--color-pink);
    border: .5px solid var(--color-pink);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: max(2rem, 3.5vw);
    padding: .5vw;
}

header.sticky {
    background-color: var(--color-gray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: background-color .2s linear;
}

.header__options .fa-solid {
    margin-right: 7px;
}

@media (min-width: 1200px) {
    .header {
        flex-direction: row;
    }

    .header__logo .fa-bars {
        display: none;
    }

    .link {
        display: none;
        flex-direction: column;
        position: absolute;
        width: min(20rem, 10vw);
        margin-top: 6px;
        padding: 10px;
        border-radius: 5px;
        background: var(--color-pink);
    }
    
    .link-item {
        color: var(--color-gray);
    }
    
    .link .link-item:hover {
        color: var(--color-white);
        background-color: var(--color-darkpink)
    }
    
     .header__options--dropdown:hover .link {
        display: flex;
    }
}

@media (max-width: 1200px) {

    .header {
        padding: 3vw 5vw;
    }

    .header__logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo .fa-bars {
        margin-left: 50px;
        font-size: min(30px, 10vw);
    }

    .header__options {
        grid-template-areas: 
            "search search"
            "inicio login"
            "categories categories"
            "movies movies";
    }

    #header__options{
        display: none;
    }

    .header__options form {
        grid-area: search;
    }

    .header__options form input{
        width: 100%;
        padding: 1vw;
    }

    .link {
        display: flex;
    }

    .a-inicio {
        grid-area: inicio;
    }

    .categories {
        grid-area: categories;
    }

    .movies {
        grid-area: movies;
    }
}