.moviesnav {
    background: var(--color-darkpink);
    padding: 0px 5vw;
    width: 100%;
    display: flex;
    align-items: center;
}

.moviesnav h2, .moviesnav a {
    margin-right: 5vw;
    color: var(--color-white);
}

.moviesnav h2 {
    font-size: min(35px, 5vw);
}

.moviesnav a {
    font-size: min(20px, 4vw);
}

.moviesnav a:hover {
    color: var(--color-pink);
}

.movie {
    background: var(--color-darkpink);
    width: 100%;
    padding: 0px 5vw;
}

.movie__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
    padding: 2vw 0;
}

.movie__container--article {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--color-white);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__container--article-img {
    height: min-content;
    width: min-content;
}

.movie__container--article-img img{
    width: 180px;
    height: 260px;
    border-radius: 10px;
}

.movie__container--article-img a {
    text-decoration: none;
    color: var(--color-white);
}

.movie__container--article-img .layer {
    display: none;
}

.movie__container--article-img:hover .layer {
    width: 180px;
    height: 260px;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.movie__container--article-img .layer i {
    font-size: 50px;
}
